#mainNav {
  background: #ffffff;
}

.navbar-toggler {
  background: var(--bs-body-color);
}

span {
  color: #ffffff;
}

#navbarResponsive {
}

#navbarResponsive {
  background: var(--bs-primary);
}

h1 {
}

h1 {
  font-family: 'Space Grotesk';
}

